.DS_Store
node_modules
.tmp
npm-debug.log
*.yml
*.yml
Source/Neural_Network_AND/NeuralNetworks.dSYM/Contents/Resources/Relocations/aarch64/NeuralNetworks.yml
Source/Neural_Network_AND/NeuralNetworks.dSYM/Contents/Resources/DWARF/NeuralNetworks
*.yml
.devcontainer
